.avatarbutton {
  color: #f44336;
  position: absolute;
  left: 50px;
  top: 100px;
  display: none;
  cursor: pointer;
  background: #fafafa;
  border-radius: 5px;
  padding: 2px 5px;
}
.avatarWapper {
  padding: 5px;
  text-align: center;
  position: relative;
}
.avatarWapper:hover
